// Use !{var} to use unescaped conent
style(type="text/css") !{compiledStyle}

div#main
  div.section.section--main
    h1.title Weather report of Uganda
    h2.subtitle Generated on #{currentDate}

  each componentDefinition in components
    div.section
      div.component
        div.header
          p.component__title #{componentDefinition.title}
        img(src=`data:image/png;base64,${componentDefinition.buffer}`).component__img
        div.component__body
          div.component__details
            p #{componentDefinition.description}



